.inputSearch {
  margin: auto;
  width: 50%;
}

.news-widget{
  max-width: 300px;
}

.orgvis {
  background-color: #F6F6F6;
}

.imgOrg {
  width: 50px;
}

.aOrg {
  padding-left: 10px;
  font-size: 1.7em;
  display: inline;
}

.sort {
  padding-left: 10px;
}